<!doctype html>
<html ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
    <script src="angular.min.js"></script>
   <script src="app.js"></script>
  </head>


<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">
<div ng-controller='ToBuyController as showList'>
    <!-- To Buy List -->
    <div class="col-md-6">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in showList.items">Buy {{item.quantity}} of {{item.name}}(s) <button ng-click="showList.transfer($index);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div class="emptyMessage" ng-if="showList.items.length === 0">Everything is bought!</div>
    </div>
</div>

<div ng-controller='AlreadyBoughtController as newList' >

    <!-- Already Bought List -->
    <div class="col-md-6" >
     <h2>Already Bought:</h2>
     <ul>

       <li ng-repeat="item in newList.items2">Bought {{item.quantity}} of {{item.name}}(s) </li>
     </ul>
     <div class="emptyMessage" ng-if="newList.items2.length === 0">Nothing bought yet.</div>
    </div>
  </div>

  </div>
</div>

</body>
</html>
